<div class="archive-container">
  <h1 class="archive-title-main">Archives</h1>
  <p class="archive-total-count"><%= site.posts.length %> posts in total.</p>
  
  <div class="archive-list">
  <% 
    let lastYear = 0;
    site.posts.sort('date', 'desc').forEach(post => { 
      const currentYear = date(post.date, 'YYYY');
      if (lastYear !== currentYear) {
        lastYear = currentYear;
  %>
        <h2 class="archive-year-header"><%= currentYear %></h2>
  <% 
      }
  %>
      <a href="<%- url_for(post.path) %>" class="archive-item">
        <time datetime="<%= date_xml(post.date) %>"><%= date(post.date, 'MM-DD') %></time>
        <span><%= post.title %></span>
      </a>
  <% }); %>
  </div>
</div>